<div id="styleguide-header">
  <div class="styleguide-container">
    <h1><%= link_to "Styleguide", root_path%></h1>
    <ul id="styleguide-pages">
      <% @pages.each do |page| %>
        <li><%= link_to page, styleguide_page_path(page), class:('current' if @current_page == page) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="styleguide-container">

  <div class="styleguide-sidebar">

    <%@categories.each do |category|%>
      <div class="styleguide-category">
        <h3><%= category.title %></h3>
        <ul>
          <% category.sections.each do |section| %>
            <li><%= link_to section, styleguide_section_path(@current_page, section), class:('current' if @current_section == section)%></li>
          <% end %>
        </ul>
      </div>
    <%end%>

  </div>

  <div class="styleguide-content markdown-body">
    <%= render file: @partial %>
  </div>

</div>
<!-- <%= console %> -->
<!-- <%@pages.each do |page|%>
  <%= link_to page, styleguide_page_path(page)%>
<%end%>
<h1>sections</h1>
<%@categories.each do |category|%>
  <%= link_to category, styleguide_section_path(@current_page, category)%>
<%end%> -->
